body {
  font-family: sans-serif;
  max-width: 700px;
  line-height: 1.5;
  padding: 16px;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #0074d9;
}

a:hover {
  text-decoration: underline;
}

pre {
  -moz-tab-size: 2;
  tab-size: 2;
}

/* This makes tradeoffs, read https://github.com/KaTeX/KaTeX/issues/1023 */
.math-display {
  overflow: auto;
}
