body {
  font-family: sans-serif;
  max-width: 800px;
  font-size: 1.2rem;
  line-height: 1.4;
  padding: 16px;
}

a {
  text-decoration: none;
  color: #0074d9;
}

a:hover {
  text-decoration: underline;
}
